.ticket-display-container{
    margin-top: 14%;
    margin-left: 2%;
    display: flex;
    flex-direction: column;

    .passenger-list{
padding: 10px;
    }
}


.ticket-pnr{
    padding: 10px;
    margin-left: 16px;
}

.train-name{
    margin-left: auto;
    margin-top: 12px;
    margin-right: 60px; 
     
}

.passenger-data{
display: flex; 
justify-content: space-evenly;
padding: 10px;

label{
    font-weight: 500;
}

label.passenger{
    margin-top: 15px;
}

div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.passenger-name{
    margin-top: 7px;
}
.passenger-seat{
    margin-top: 7px;
}
}

.ticket-details{
    display: flex;
    padding: 10px;
}