* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  z-index: 1; }

html {
  font-size: 80%; }

body {
  font-family: 'Roboto', sans-serif; }

.edit-form-container {
  display: inline-block;
  height: 30em;
  width: 45rem;
  margin-left: 30%;
  margin-top: 15%;
  border: solid black 2px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75); }

.form-container {
  display: flex;
  flex-direction: column;
  margin: 50px; }

.train-display-list-container {
  max-width: 80%;
  width: 800px;
  margin: 40px auto; }

.login-container {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh; }

.passenger-form-container label:first-child {
  position: absolute;
  left: 45%;
  top: 50%;
  font-size: 18px; }

.search-train {
  margin: 10px;
  display: flex;
  flex-direction: column; }
  .search-train input {
    margin-top: 10px;
    height: 35px; }

.login-form-error {
  color: #d8000c; }

.login-form-group {
  margin-block: 50px; }
  .login-form-group:first-child input {
    margin-left: 35px; }
  .login-form-group input {
    margin-left: 10px;
    height: 25px;
    width: 250px; }
  .login-form-group label {
    font-size: 15px; }
  .login-form-group button {
    margin-top: 50px; }

.form-modal {
  margin-left: 50px; }

.passenger-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 20em;
  border: 2px solid black; }

.passenger-field {
  margin: 20px; }

.passenger-entry {
  display: flex;
  gap: 15px; }

.passenger-name {
  flex-basis: 100px; }

button.btn-submit {
  background-color: #fb792b;
  color: azure;
  height: 32px;
  width: 140px;
  border-radius: 6px 6px 6px 6px;
  margin-left: 10px;
  margin-top: 1.5rem; }
  button.btn-submit:hover {
    cursor: pointer; }
  button.btn-submit.login {
    margin-left: 7.3rem; }
  button.btn-submit.login-modal {
    background-color: #213d77;
    position: absolute;
    top: 1%;
    left: 80%; }

button.train-book {
  margin-left: 1.05rem; }

button.train-avl-request {
  position: absolute;
  left: 40%;
  height: 50px;
  width: 95px; }

button#x {
  position: relative;
  color: grey;
  top: 5px;
  left: 95%;
  width: 20px;
  border: none;
  cursor: pointer; }

button.remove-passenger {
  position: relative;
  border: none;
  background-color: white;
  color: #d11a2a;
  cursor: pointer;
  margin-top: 8px;
  left: 50%; }

button.add-passenger {
  position: relative;
  border: none;
  background-color: white;
  color: #1457a7;
  cursor: pointer;
  margin-top: 8px; }
  button.add-passenger:not(:nth-of-type(1)) {
    right: 5%; }

ol {
  counter-reset: section; }

li.train-list {
  list-style-type: none;
  position: relative;
  height: 170px;
  font-size: 1.5rem;
  padding: 15px;
  margin-bottom: 15px;
  background: #0e0fee;
  color: #fff; }

.train-heading {
  display: flex; }

.train-name {
  margin-left: 15px; }

.train-timings {
  display: grid;
  margin-top: 3rem; }

.source-section {
  position: relative;
  grid-column: 1; }

.destination-section {
  position: relative;
  grid-column: 9; }

.train-booking-box {
  border: 2px solid white;
  position: absolute;
  width: 100px;
  height: 75px;
  left: 40%; }
  .train-booking-box .train-avl {
    margin-left: 1.2rem;
    margin-top: 6.5px;
    color: lawngreen; }

.login-wrapper {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center; }

.form-modal-box {
  height: 350px;
  width: 500px;
  background-color: azure;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75); }
  .form-modal-box h1 {
    margin-left: 90px;
    margin-top: 15px; }

.welcome-user-message {
  position: absolute;
  top: 1%;
  left: 80%;
  font-size: 18px; }
